body
{
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1
{
  margin: 0;
  font-family: 'Sacramento', cursive;
}
.top-class
  {
    background-color: #E4F9F5;
    position:relative;
    padding-top:100px;
  }
  .middle-class
  {
    height: auto;
    width: 200px;
    text-align: center;
    margin: 0 auto 0 auto;
  }
  .bottem-class
  {
    height: 200px;
    width: 200px;


  }
  .top-cloud
  {
      position: absolute;
      right: 200px;
      top: 50px;
  }


  .bottem-cloud
  {
    position: absolute;
    left: 200px;
    bottom: 300px;
  }

  .pro{
      text-decoration: underline;
  }
  .profile
  {
    text-align: center;
    margin: 0 auto 0 auto;

  }
